<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <title>Archivio Digitale</title>
  <link rel="stylesheet" type="text/css" href="/templates/main/css/main.css">
  <!-- remote CSS -->
  <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto:400,500,700" rel="stylesheet">
  <!-- remote JS -->

</head>

<body>
  <div class="container">
    <header class="header">
      <div class="logo">
        <a href="http://itisfermi.it" class="logo__content">
          <img src="/templates/main/images/itisFermi_white.svg" class="fermi" alt="ITIS Enrico Fermi">
          <div class="separator"></div>
          <p class="archivio">Archivio Digitale</p>
        </a>
      </div>
    </header>
    <main class="main">
      <div class="content">
        <div class="text">
          {{{ message }}}
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="content">
        <div class="info">
          <p class="powered">Powered By <a href="https://www.riccardosangiorgio.com">Riccardo Sangiorgio</a></p>
        </div>
        <div class="menu">
          <ul>
            <li>
              <a href="http://www.itisfermi.it" target="_blank" rel="noopener noreferrer">ITIS Enrico Fermi</a>
            </li>
            <li>
              <a href="/login" tag="a">Login</a>
            </li>
            <li>
              <a href="/signup" tag="a">Registrati</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
