/*
 *  $breakpoint: {
 *    phone: [0px - 600px],
 *    tab-port: [600px - 900px],
 *    tab-land: [900px - 1200px],
 *    big-desktop: [1200px - #]
 *  }
 *
 *   1em = 16px
 *
 */
html,
body,
body * {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box; }

.container {
  background-color: #E9EBEE;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 20rem auto min-content; }
  .container .header {
    background-image: linear-gradient(#66BA6B, #1A8D4C);
    width: 100%;
    padding: 2rem; }
    .container .header .logo {
      display: table-cell;
      vertical-align: middle; }
      .container .header .logo__content {
        text-align: left;
        height: 4.5rem;
        display: table-cell;
        vertical-align: middle;
        text-decoration: none; }
        .container .header .logo__content * {
          display: inline-block;
          vertical-align: middle; }
        .container .header .logo__content .fermi {
          height: 4.5rem; }
        .container .header .logo__content .separator {
          height: 3rem;
          width: 0.05rem;
          background-color: #FFFFFF;
          margin: 0 1rem; }
        .container .header .logo__content .archivio {
          font-size: 2rem;
          color: #FFFFFF;
          font-family: 'Bitter'; }
  .container .main {
    padding-bottom: 3rem; }
    .container .main .content {
      border-radius: 0.25rem;
      background-color: #FFFFFF;
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 2rem;
      width: 80%;
      margin-top: -7.5rem; }
      .container .main .content * {
        font-size: 1.6rem;
        color: #677379;
        text-align: left;
        line-height: 3rem; }
  .container .footer {
    background-color: #DBDBDB; }
    .container .footer .content {
      padding: 6vh;
      width: 100vw; }
      @media (max-width: 56.25em) {
        .container .footer .content {
          margin: 0;
          display: table;
          position: relative; }
          .container .footer .content .info,
          .container .footer .content .menu {
            float: none;
            text-align: center;
            display: table-row;
            vertical-align: middle;
            width: 100%; }
            .container .footer .content .info:first-child,
            .container .footer .content .menu:first-child {
              padding-bottom: 3vh; } }
      .container .footer .content .info {
        float: left; }
        .container .footer .content .info .powered {
          font-size: 1.3rem;
          color: #677379; }
          .container .footer .content .info .powered a {
            font-size: 1.3rem;
            color: #151A22;
            text-decoration: none; }
      .container .footer .content .menu {
        float: right; }
        .container .footer .content .menu ul {
          padding: 0; }
          .container .footer .content .menu ul li {
            display: inline-block;
            text-transform: uppercase;
            margin-left: 2rem; }
            .container .footer .content .menu ul li a {
              font-size: 1.3rem;
              color: #151A22;
              text-decoration: none; }
